<nav class="p-1">
  <img routerLink="/" class="logo" src="/assets/img/plane.png" alt="">
  <a mat-flat-button routerLink="/airhostesses" routerLinkActive="mat-accent">Airhostesses</a>
  <a mat-flat-button routerLink="/pilots" routerLinkActive="mat-accent">Pilots</a>
  <a mat-flat-button routerLink="/planetypes" routerLinkActive="mat-accent">Plane Types</a>
  <a mat-flat-button routerLink="/crews" routerLinkActive="mat-accent">Crews</a>
  <a mat-flat-button routerLink="/departures" routerLinkActive="mat-accent">Departures</a>
</nav>