<mat-card class="w-100" *ngIf="crew">
  <button (click)="location.back()" mat-button class="m-0 w-auto">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title class="uppercase">Crew #{{crew.id}}</mat-card-title>
  </mat-card-header>

  <div class="pilot-info my-2 cursor-pointer" [routerLink]="['/pilots', crew.pilot.id]">
    Pilot: {{crew.pilot | fullname}}
  </div>

  <mat-accordion *ngIf="crew.airhostesses">
    <mat-expansion-panel [expanded]="airhostessesExpanded" (opened)="airhostessesExpanded = !airhostessesExpanded"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Airhostesses
        </mat-panel-title>
        <mat-panel-description class="justify-content-end">
          <mat-icon>arrow_drop_down</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip class="cursor-pointer" *ngFor="let airhostess of crew.airhostesses" [routerLink]="['/airhostesses', airhostess.id]">{{airhostess | fullname}}</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-stroked-button (click)="onEditClick(editDialog)" class="my-2">Edit</button>
</mat-card>

<ng-template #editDialog>
  <form (submit)="onEditFormSubmit(crew)" class="d-flex flex-column px-3" action="javascript:void(0)">
    <h4 class="text-center">Create</h4>
    <mat-form-field class="my-1">
      <mat-select [compareWith]="compareEntities" placeholder="Pilot" [(value)]="crew.pilot">
        <mat-option *ngFor="let pilot of pilots" [value]="pilot">{{pilot | fullname}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="my-1">
      <mat-select [compareWith]="compareEntities" placeholder="Airhostesses" [(value)]="crew.airhostesses"
        multiple>
        <mat-option *ngFor="let airhostess of airhostesses" [value]="airhostess">{{airhostess | fullname}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="submit">Save</button>
  </form>
</ng-template>